<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Login Here -->
        <div class="fadeIn first">
            <p>Please login</p>
        </div>

        <!-- Login Form -->
        {{!-- action="/api/users/login" method="POST"  --}}
        <form class="login-form">
            <input type="text" id="email-login" class="fadeIn second" placeholder="email">
            <input type="password" id="password-login" class="fadeIn third" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log in">
        </form>

        <!-- Register new Account -->
        <div id="formFooter">
            <a class="underlineHover" href="/register">Register Here</a>
        </div>

    </div>
</div>