<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="panel-heading panel-title text-center">
            <h1 class="title">Sign Up</h1>
        </div>
        <form action="/api/users/register" method="POST" class="form-horizontal signup-form">
            <label for="name" class="cols-sm-2 control-label">Name</label>
            <div class="cols-sm-10">
                <input type="text" class="form-control" name="username" id="name" placeholder="Enter your Name" />
            </div>

            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
            </div>

            <label for="password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Enter your Password" />
            </div>

            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
            <div class="cols-sm-10">
                <input type="password" class="form-control" name="confirm" id="confirm"
                    placeholder="Confirm your Password" />
            </div>

            <input type="submit" value="Register">

            <div id="formFooter">
                <a class="underlineHover" href="/login">Login Here</a>
            </div>
        </form>
    </div>
</div>